.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1114px;
    font-family: Roboto;
    font-style: normal;
    color: #00037E;
    border: 2px solid rgba(0, 3, 126, 0.5);
    box-sizing: border-box;
    border-radius: 50px;
    margin: 20px auto;
}
.signInUp{
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
}
.signInBtn{
    font-weight: bold;
    font-size: 37px;
    color: #00037E;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.signInBtn:hover{
    text-decoration: underline;
}
.signUpBtn{
    font-weight: bold;
    font-size: 37px;
    color: #00037E;
    border: 2px solid rgba(0, 3, 126, 0.5);
    box-sizing: border-box;
    border-radius: 25px;
    padding: 1% 3%;
}
.signInImg{
    width: 359px;
    height: 283px;
    padding: 3%;
}
.infoAndImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.backMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.backMain button{
    background: #ECECEE;
    width: 350px;
    border: 1px solid #00037E;
    border-radius: 10px;
    padding: 2%;
    margin: 8% 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 0.05em;
    color: #00037E;
    outline: none;
}
.backMain button:hover{
    background-color: #d6d6d6;
    color: #00027eb7;
}
.sidebar{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 0.05em;
    padding: 0 0 0 10%;
    max-width: 500px;
}
.sidebar label{
    font-weight: 500;
    font-size: 27px;
    letter-spacing: 0.05em;
    color: #00037E;
}
.fileImg{
    background: #ECECEE;
    border: 1px solid #00037E;
    border-radius: 15px;
    outline: none;
    font-size: 17px;
    padding: 3px 7px;
    color: #00037E;
}
.photo{
    width: 120px;
    height: 120px;
    margin: 20px 0 10px 65px;
    border: #00037E 2px solid;
    border-radius: 5px;
    padding: 0;
}
.sidebar input{
    background: #ECECEE;
    border: 1px solid #00037E;
    box-sizing: border-box;
    border-radius: 15px;
    padding-left: 3%;
    margin: 1% 0;
    outline: none;
    color: #00037E;
    height: 35px;
    width: 350px;
    font-size: 20px;
}
.sidebar button{
    background: #ECECEE;
    border: 1px solid #00037E;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 2% 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    cursor: pointer;
    color: #00037E;
    font-size: 23px;
    outline: none;
}
.sidebar button:hover{
    background-color: #d6d6d6;
    color: #00027eb7;
}
.attention{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 19px;
}
@media (max-width: 1197px) {
    .wrapper{
        margin: 40px;
    }
    .signInBtn{
        font-size: 32px;
    }
    .signUpBtn{
        font-size: 32px;
    }
    .signInImg{
        width: 300px;
        height: 200px;
    }
    .backMain button{
        padding: 2%;
        margin: 6% 0;
        font-size: 20px;
        width: 270px;
    }
    .sidebar{
        max-width: 350px;
        font-size: 26px;
    }
    .sidebar label{
        font-size: 24px;
    }
    .sidebar input{
        margin: 2% 0;
    }
    .sidebar button{
        padding: 3%;
        margin-top: 0%;
        font-size: 20px;
    }
    .attention{
        font-size: 16px;
    }
    .photo{
        width: 90px;
        height: 90px;
        margin: 20px 0 10px 85px;
    }
    .fileImg{
        font-size: 14px;
    }
}
@media (max-width: 820px) {
    .wrapper{
        margin: 30px;
    }
    .signInBtn{
        font-size: 30px;
    }
    .signUpBtn{
        font-size: 30px;
    }
    .signInImg{
        width: 180px;
        height: 150px;
    }
    .backMain button{
        padding: 1% 0;
        margin: 6% 0;
        font-size: 15px;
        width: 150px;
    }
    .sidebar{
        max-width: 220px;
    }

.sidebar label{
        font-size: 17px;
    }
    .sidebar input{
        margin: 1% 9% 1% 0;
        border-radius: 10px;
        padding-left: 3%;
        width: 200px;
    }
    .sidebar button{
        padding: 3%;
        margin-top: 0%;
        font-size: 15px;
        border-radius: 10px;
    }
    .attention{
        font-size: 13px;
        margin: 1%;
    }
    .photo{
        width: 70px;
        height: 70px;
        margin: 20px 0 10px 55px;
    }
    .fileImg{
        font-size: 12px;
    }
}