.section {
    padding: 20px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// пока так
.end {
    position: absolute;
    font-size: 30px;
}