.textbook-game {
  &__title {
    display: block;
    padding: 14px 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: #ffffff;
    background-color: #00037E;
    border-radius: 0 50px;
    transition: .8s;
    @media (max-width: 760px) {
      padding: 10px 15px;
      font-size: 18px;
      border-radius: 0 30px;
      font-weight: normal;
    }
  }
  :hover {
    color:#74E38C;
    box-shadow: black 0 0 10px;
  }
}
