@import "../../../extends.scss";

.wordLine {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        color: $colorText_GameStart;
        font-size: 21px;
        line-height: 25px;
    }

    .word {
        font-weight: bold;
    }

    .transcription {
        font-weight: 400;
    }

    .wordTranslate {
        font-weight: bold;
        font-style: italic;
    }

    .img {
        width: 25px;
        height: 25px;
        background: center / cover no-repeat;
        background-image: url("../../../img/sound.png");
        cursor: pointer;
    }
}