@import "../../../extends.scss";

.section {
    width: 100%;
    height: 828px;
}

.container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h2 {
    color: $colorText_GameStart;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}

p {
    color: $colorText_GameStart;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
}

.control {
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    label {
        display: block;
        color: $colorText_GameStart;
        font-weight: bold;
        font-size: 21px;
        line-height: 25px;
        cursor: pointer;
    }

    p {        
        text-align: left;
    }

    input {
        width: 20px;
        height: 20px;
        margin-right: 20px;
        cursor: pointer;
    }
}

.btn {
    width: 197px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $colorBtn_GameStart;
    color: $colorBtn_GameStart;
    border-radius: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 2px 5px $colorBtn_GameStart;

    &:active {
        box-shadow: 1px 2px $colorBtn_GameStart;
        outline: none;
    }
}

.girl, .boy {
    position: absolute;
    width: 320px;
    height: 230px;
    background: center / cover no-repeat;
}

.girl {
    top: 10px;
    left: 10px;
    background-image: url("./assets/girl.png");
}

.boy {
    right: 10px;
    bottom: 10px;
    background-image: url("./assets/boy.png");
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
    color: black;
}