.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1114px;
    font-family: Roboto;
    font-style: normal;
    color: #00037E;
    border: 2px solid rgba(0, 3, 126, 0.5);
    box-sizing: border-box;
    border-radius: 50px;
    margin: 30px auto;
}
.signInUp{
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
}
.signInBtn{
    font-weight: bold;
    font-size: 43px;
    padding: 1% 3%;
    border: 2px solid rgba(0, 3, 126, 0.5);
    box-sizing: border-box;
    border-radius: 25px;
    color: #00037E;
}
.signUpBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 43px;
    line-height: 56px;
    color: #00037E;
}
.signUpBtn:hover{
    text-decoration: underline;
}
.signInImg{
    width: 389px;
    height: 263px;
    padding: 3%;
}
.infoAndImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.backMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.backMain button{
    background: #ECECEE;
    width: 350px;
    border: 1px solid #00037E;
    border-radius: 10px;
    padding: 2%;
    margin: 6% 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 0.05em;
    color: #00037E;
    outline: none;
}
.backMain button:hover{
    background-color: #d6d6d6;
    color: #00027eb7;
}
.sidebar{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.05em;
    padding: 0 0 0 10%;
    max-width: 500px;
}
.sidebar label{
    font-weight: 500;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: 0.05em;
    color: #00037E;
}
.sidebar input{
    background: #ECECEE;
    border: 1px solid #00037E;
    box-sizing: border-box;
    border-radius: 15px;
    padding-left: 3%;
    margin: 3% 0;
    outline: none;
    color: #00037E;
}
.sidebar button{
    background: #ECECEE;
    border: 1px solid #00037E;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 4.5% 15%;
    margin-top: 45%;
    cursor: pointer;
    color: #00037E;
    font-size: 32px;
    outline: none;
}
.sidebar button:hover{
    background-color: #d6d6d6;
    color: #00027eb7;
}
@media (max-width: 1197px) {
    .wrapper{
        margin: 40px;
    }
    .signInBtn{
        font-size: 39px;
    }
    .signUpBtn{
        font-size: 39px;
    }
    .signInImg{
        width: 300px;
        height: 200px;
    }
    .backMain button{
        padding: 2%;
        margin: 6% 0;
        font-size: 20px;
        width: 270px;
    }
    .sidebar{
        max-width: 350px;
        font-size: 28px;
    }
    .sidebar label{
        font-size: 30px;
    }
    .sidebar input{
        margin: 2% 0;
    }
    .sidebar button{
        padding: 4.5% 13%;
        margin-top: 30%;
        font-size: 28px;
    }
}
@media (max-width: 820px) {
    .wrapper{
        margin: 30px;
    }
    .signInBtn{
        font-size: 30px;
    }
    .signUpBtn{
        font-size: 30px;
    }
    .signInImg{
        width: 180px;
        height: 150px;
    }
    .backMain button{
        padding: 1% 0;
        margin: 6% 0;
        font-size: 15px;
        width: 150px;
    }
    .sidebar{
        max-width: 220px;
    }
    .sidebar label{
        font-size: 20px;
    }
    .sidebar input{
        margin: 1% 9% 1% 0;
        border-radius: 10px;
        padding-left: 3%;
        width: 210px;
    }
    .sidebar button{
        padding: 4.5% 13%;
        margin-top: 10%;
        font-size: 19px;
        border-radius: 10px;
    }
}