* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-book {
  max-width: 1140px;
  margin: 10px auto;
  h2 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #00037e;
  }
}

.text-book-nav {
  margin: 20px 10px;
  &__header {
    display: flex;
    row-gap: 16px;
    justify-content: space-between;
    align-items: start;
    min-height: 100px;
  }
  &__flags {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    max-width: 520px;
    min-height: 120px;
    width: 100%;
  }
  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    @media (max-width: 920px) {
      justify-content: center;
      flex-direction: column;
    }
  }
  &__game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__group {
    margin-top: 16px;
  }
}

.word-cards {
  margin: 16px auto 0;
  max-width: 1120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
  border-radius: 50px;
  border: 2px solid rgba(0, 3, 126, 0.5);
}

@media (max-width: 760px) {
  .text-book-nav {
    margin: 0 10px;
    &__header {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }
    &__flags {
      display: flex;
      justify-content: space-between;
      max-width: 520px;
      width: 100%;
    }
    &__option {
      justify-content: center;
      flex-direction: column;
    }
    &__game {
      gap: 10px;
    }
  }
}
